<% include ../partials/header %>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>   
    <h1><%=group.name%></h1>
    <p><%= group.author.username %></p>
    <img src="<%= group.image %>">
    <p><%= group.target %></p>
    <p><%= group.start %></p>
    <p><%= group.end %></p>
    <p><%= group.max %></p>
    <p>Submitted By <%= group.author.username %></p>
<% include ../partials/footer %>