<% include ../partials/header %>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>   
    <h1><%=group.name%></h1>
    <p><%= group.author.username %></p>
    <img src="<%= group.image %>">
    <p>Group's target: <%= group.target %></p>
    <p>Group's start date: <%= group.start %></p>
    <p>Group's end date: <%= group.end %></p>
    <p>Group's max number of members: <%= group.max %></p>
    <p>Submitted By <%= group.author.username %></p>
    <a href="/groups/<%= group._id %>/edit" class="btn btn-warning btn-small">Edit</a>
    <form id="delete-form" action="/groups/<%= group._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>    
    </form>
    
<% include ../partials/footer %>