<%include ../partials/header %>
<script>
    function addBreakfast() {
        var ul = document.getElementById("breakfastList");
        var li = document.createElement("li");
        var x = document.createElement("INPUT");
        x.style.width = '350px';
        li.appendChild(document.body.appendChild(x))
        ul.appendChild(li);
    }
    function addLunch() {
        var ul = document.getElementById("lunchList");
        var li = document.createElement("li");
        var x = document.createElement("INPUT");
        x.style.width = '350px';
        li.appendChild(document.body.appendChild(x))
        ul.appendChild(li);
    }
    function addDinner() {
        var ul = document.getElementById("dinnerList");
        var li = document.createElement("li");
        var x = document.createElement("INPUT");
        x.style.width = '350px';
        li.appendChild(document.body.appendChild(x))
        ul.appendChild(li);
    }
    function addExercises() {
        var ul = document.getElementById("exerciseList");
        var li = document.createElement("li");
        var x = document.createElement("INPUT");
        x.style.width = '350px';
        li.appendChild(document.body.appendChild(x))
        ul.appendChild(li);
    }
</script>

<div style="margin: 25px auto; padding:1px 16px; height: 1000px;">
    <h1 style="text-align: center">Edit Diary Entry</h1>
    <div style="width: 50%; margin: 25px auto;">
            <form action="/reportprogress/edit" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="date" value="<%= diary.date %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="checkin" value="<%= diary.checkin %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="checkout" value="<%= diary.checkout %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="breakfast" value="<%= diary.breakfast %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="lunch" value="<%= diary.lunch %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="dinner" value="<%= diary.dinner %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="snack" value="<%= diary.snack %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="exercise" value="<%= diary.exercise %>">
                    </div>
             
                <button>Update</button>
            </form>
        <a href="/reportprogress">Cancel</a>
    </div>
</div>

<include ../partials/footer %>